@model dynamic

@{
    Layout = "_AdminLayout";
}

<h1>Booking Oteller İçin Şehir Id Bilgisi Getirme</h1>

<form method="post">
    <label>Şehir Adını Giriniz</label>
    <input type="text" class="form-control" name="p"/>
    <br/>
    <button class="btn btn-outline-warning">Şehir Getir</button>
</form>

