@model System.Collections.Generic.List<EntityLayer.Concrete.AppUser>

@{
    Layout = "_AdminLayout";
}

<h1>Kullanıcı Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Rol Ata</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><a class="btn btn-outline-warning" href="/Admin/Role/AssignRole/@item.Id">Rol Ata</a></td>
        </tr>
    }
</table>