@model dynamic

@{
    Layout = "_AdminLayout";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Şehir Ülke İşlemleri</h2>
<br/>
<button type="button" id="btngetlist" class="btn btn-outline-success">Şehir Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-primary">Şehir Getir</button>
<button type="button" id="btnaddcity" class="btn btn-outline-warning">Şehir Ekle</button>
<button type="button" id="btnadeletecity" class="btn btn-outline-danger">Şehir Sil</button>
<button type="button" id="btnaupdatecity" class="btn btn-outline-secondary">Şehir Güncelle</button>

<br/><br/>

<div id="citylist">
    Buraya Şehir Listesi Gelicek
</div>
<br/>

<div>
    <input type="text" id="txtid" placeholder="Şehir Id Giriniz" class="form-control" />
</div>
<div id="destination">
    
</div>
<br/>

<div>
    <input type="text" id="txtcityid" placeholder="Silinecek Id Giriniz" class="form-control" />
</div>

<br/>
<br/>

<div>
    <input type="text" id="txtcityid" placeholder="Güncellenecek Id Giriniz" class="form-control" />
    <input type="text" id="txtcity" placeholder="Güncellenecek Şehir Giriniz" class="form-control" />
    <input type="text" id="txtdaynight" placeholder="Güncellenecek GünGece Giriniz" class="form-control" />
</div>

<br/>
<div>
    <input type="text" id="txtcity" placeholder="Şehir Adını Giriniz" class="form-control" />
    <br/>
    <input type="text" id="txtdaynight" placeholder="Gün Gece Giriniz" class="form-control" />
    <br/>
    <input type="text" id="txtprice" placeholder="Fiyat" class="form-control" />
    <br/>
    <input type="text" id="txtcapacity" placeholder="Konaklayacak kişi sayısı" class="form-control" />
</div>

<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CitiList",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class= table table-bordered> <tr><th> Şehir Adı</th><th> Gün - Gece</th><th>Fiyatı</th></tr>";
                $.each(w, (index, value)=>{
                    tablehtml+=`<tr><td>${value.City}</td><td>${value.DayNight}</td><td>${value.Price}</td></tr>`
                });
                tablehtml+="</table>";
                $("#citylist").html(tablehtml);
            }
        });
    });

    $("#btnaddcity").click(function () {
        const cityvalues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: +$("#txtprice").val(),     // sayıya çevir
            Capacity: +$("#txtcapacity").val()
        };

        $.ajax({
            type: "POST",
            url: "/Admin/City/AddCityDestination",
            data: cityvalues,         // form-urlencoded
            dataType: "json",         // cevabı JSON olarak al
            success: function (res) {
                alert("Şehir rota eklendi.");
                console.log(res);
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                alert("Hata: " + xhr.status);
            }
        });
    });

    $("#btngetbyid").click(() => {
        const id = $("#txtid").val();

        $.ajax({
            type: "GET",
            url: "/Admin/City/GetbyId",
            data: { DestinationId: id },   
            dataType: "json",             
            success: function (result) {
                if (!result) {
                    $("#destination").html("<div class='alert alert-warning'>Kayıt bulunamadı.</div>");
                    return;
                }
                const html = `
        <table class="table table-bordered">
          <tr><th>Şehir Adı</th><th>Gün - Gece</th><th>Fiyat</th></tr>
          <tr>
            <td>${result.city ?? result.City}</td>
            <td>${result.dayNight ?? result.DayNight}</td>
            <td>${result.price ?? result.Price}</td>
          </tr>
        </table>`;
                $("#destination").html(html);
            },
            error: function (xhr) {
                console.error(xhr.responseText);
                $("#destination").html("<div class='alert alert-danger'>İstek başarısız.</div>");
            }
        });
    });

    $("#btnadeletecity").click(x => {
      let id = $("#txtcityid").val();
      $.ajax({
          url: "/Admin/City/DeleteCity/" + id,
          type: "post",
          contentType: "application/json",
          dataType : "json",
          success: function (func3){
              alert("Silindi")
        }
      });
    });
    
    $("#btnaupdatecity").click(x => {
        let cityvalues = {
            DestinationId: $("#txtcityid").val(),
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val()
        };
        $.ajax({
            type: "post",
            url: "/Admin/City/UpdateCity/",
            data: cityvalues,
            success:function(func4){
                alert("Güncellendi")
            }
        })
    })
</script>