<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>traversal rezervasyon web uygulamasinin kullanici dashboard panelinde bulunmaktasiniz. asagida sizin ve acentamizin bazi istatistik bilgileri yer almaktadir. bu istatistiklerin sizlerle beraber artmasini temenni ediyoruz. gezi dolu daha nice gunde bulusmak dilegiyle...</p>
                <h4 class="card-title">........</h4>
                <h6>aktif rezervasyon sayiniz: 4</h6>
                <h6>gecmis rezervasyon sayiniz: 12</h6>
                <h6>onay bekleyen rezervasyon sayiniz: 1</h6>
                <h6>toplam rota sayisi: 16</h6>
                <h6>rehber sayimiz: 6</h6>
                <h6>toplam misafir sayimiz: 1286</h6>
                <h6>ortalama puanimiz: 8.97/10</h6>
            </div>
        </div>
    </div>
</div>