@model System.Collections.Generic.List<EntityLayer.Concrete.ContactUs>

@{
    Layout = "_AdminLayout";
    int cound = 0;
}

<h1>Mesajlar</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        cound++;
        <tr>
            <td>@cound</td>
            <td>@item.Name</td>
            <td>@item.MessageBody</td>
            <td>@item.MessageDate.ToString("U")</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-dark">Mesajı Aç</a></td>
        </tr>
    }
</table>