<!doctype html>
<html lang="zxx">


@await Html.PartialAsync("LayoutPartial/_HeaderPartial.cshtml")

<body>
@await Html.PartialAsync("LayoutPartial/_NavbarPartial.cshtml")
  @RenderBody()
  @await Html.PartialAsync("LayoutPartial/_FooterPartial.cshtml")
  @await Html.PartialAsync("LayoutPartial/_ScriptPartial.cshtml")
</body>

</html>